body{
      background-color: antiquewhite;
      align-items: center;
}
p{
     margin-left: 20%; 
     margin-right: 20%;
     font-size: 2em; 
     font-family: '標楷體';
     
}
rb { 
      text-indent: 5pt;
      letter-spacing: 1px;
      color:#068406;
     /* font-family: "Taigi Unicode",'標楷體'; */
         
}
rt, .high {
      /*font-family:  "Taigi Unicode",'標楷體'; */
      text-indent: 1px;
      letter-spacing: 1px;
      color:#ce1940;
}
p {
    text-indent: 36px;
    margin-top : 50;
    margin-left: 100;
    margin-right:100;
    font-size:25;
    line-height: 2; 
    font-family:"Taigi Unicode";
    color:#111122;
}
div {
    text-indent: 36px;
    margin-top : 50;
    margin-left: 100;
    margin-right:100;
    font-size:50;
    line-height: 2; 
    font-family:"Taigi Unicode";
    color:#111122;
}
table{
      border-radius: 15px;
      border-style:none;
      font-size: 45px;
      font-family:'Times New Roman','標楷體';
      font-weight:900;

}
 td{
      padding: 2em;
      border-radius: 15px;
      align-items:center;
}
h2{
      align-items: center;
      font-size: 5em;
}